@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
