img {
    display: block;
    width: 100%;
}

.pasta-image {
    border: var(--border);
    border-bottom: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.description {
    padding: 10px;

    border: var(--border);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    font-style: italic;
}

.schedule {
    padding: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
}

.schedule > *:not(*:last-child, *:first-child) {
    margin-bottom: min(10px, 1vw);
}

.schedule-heading {
    margin-bottom: 10px;
}

/*
.location-image {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: var(--border);
    border-top: none;
}

.location-content {
    padding: 10px 10px 0;

    border: var(--border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.location-content > * {
    margin-bottom: 10px;
}
*/
